* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #626226;

}

a {
  text-decoration: none;
}

svg {
  color: #5252CC;
  font-size: 40px;
}
