@import "partials/_common.scss";
@import "partials/_variables.scss";

#navbar {
  top: 0;
  background-color: white;
  width: 100%;
  height: 75px;
  z-index: 2;
  padding: 0 25px;
  position: fixed;
  .nav_container {
    width: 1150px;
    max-width: 100%;
    height: 75px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    border-bottom: 1px solid darkgrey;
    .logo_container {
      flex-grow: 2;
    }
    ul {
      li {
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
        margin-left: 35px;
        position: relative;
        line-height: 30px;
        &:hover,
        &:hover i.fas,
        &:hover > a {
          color: $textcolorhover;
        }
        ul.dropdown {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 27px;
          border: 1px solid lightgrey;
          border-radius: 8px;
          padding-right: 20px;
          background-color: white;
          li {
            display: block;
            margin: 18px 12px;
            line-height: normal;
          }
        }
      }
    }
    & > i.fas {
      display: none;
      font-size: 23px;
      cursor: pointer;
    }
  }
  ul.bars_dropdown {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    position: fixed;
    left: 0;
    top: 60px;
    padding: 10px 25px;
    display: none;
    li {
      margin: 15px 0;
      a {
        font-size: 14px;
        font-weight: 500;
      }
      &:hover a {
        color: $textcolorhover;
      }
    }
    #btn_long {
      margin-top: 25px;
      span.white-btn {
      padding-left: calc(50% - 36px);
      padding-right: calc(50% - 36px);
      }
    }
  }
}

main {
  padding: 0 25px;
}

.jumbotron {
  margin-top: 180px;
  width: 1150px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .jumbo_text {
    margin-bottom: 30px;
    width: 570px;
    h1 {
      font-size: 50px;
      font-weight: 500;
      line-height: 70px;
      margin-bottom: 35px
    }
    h2 {
      margin-bottom: 40px;
      font-weight: 100;
    }
    a {
      font-size: 14px;
      margin-top: 30px;
      display: inline-block;
    }
    p {
      font-size: 13px;
      color: lightgrey;
      margin: 0 15px;
      display: inline-block;
    }
  }
  .jumbo_img {
    width: 570px;
    height: auto;
  }
}


@media screen and (max-width: 1200px) {
  .jumbotron {
    .jumbo_text {
      text-align: center;
    }
  }
}
@media screen and (max-width: 767px) {
  #navbar {
    height: 60px;
    .nav_container {
      height: 60px;
      ul.sections {
        display: none;
      }
      i.fas {
        display: block;
      }
    }
    ul.bars_dropdown {
      display: block;
    }
  }
}
